@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al sistema de prestamos y pagos</h1>
    <p>Informacion: Puede conocer nuestros servicio en la pagina principa en la barra superior. </p>
</div>
